.card {
  padding: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  max-height: 250px;
}

.card img {
  width: 100%;
  max-height: 120px;
  object-fit: contain;
}
